:root {
    --principale: #d7d7d7;
    --rubrique: #48cdff;
}

body {
    font-family: Roboto, serif;
    color: var(--principale);
    margin: 0;
    overflow-x: hidden;
    font-size: 1.3rem;
}

/*header*/

header {
    user-select: none;
    background: linear-gradient(to top right, #120e62, #0a0833);
    position: fixed;
    width: 100%;
    border-bottom: #2a3b3a solid 2px;
    z-index: 1;
    padding-top: 5px;
}

.section-header {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 200px
}

#ID-photo {
    border-radius: 100px;
    width: 50px;
}

#section-rubrique {
    display: flex;
    gap: 25px;
}

a.rubrique{
    text-decoration: none;
    color: var(--rubrique);
    transition: 1s all;
    &:after{
        display: block;
        content: '';
        position: relative;
        left: 0;
        bottom: -2px;
        width: 100%;
        opacity: 0;
        height: 2px;
        background-color: #2f8caf;
        transition: opacity 0.5s ease;
    }
    &:hover:after{
        opacity: 1;
    }
    &:hover{
        scale: 1.1;
    }
}

/*middle*/

.popup {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #221b2f;
    border: 2px solid #383838;
    padding: 15px;
    width: 300px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    z-index: 1000;
}

/* Style pour le bouton de fermeture */
.popup .close-btn {
    position: absolute;
    top: 5px;
    right: 5px;
    background: none;
    border: none;
    font-size: 22px;
    cursor: pointer;
    color: #c2c2c2;
}

.popup .close-btn:hover {
    color: #f00;
}


@media (max-width: 768px) {
    .popup {
        display: none;
    }
}

#text-popup{
    text-align: center;
}

#middle {
    text-align: center;
    /*position: absolute;*/ /*Fait passer le footer au dessus*/
}

.bloc{/*anciennement .bloc-section*/
    display: flex;
    justify-content: center;
    width: 80%;
}

.bloc-normal{/*anciennement #section-bloc-parcours*/
    width: 70%;
    display: flex;
    gap: 20px;
}

.titre-section{
    padding: 10px;
    margin-bottom: 20px;
    h1{
        border-bottom: solid 2px;
    }
}

.border-top{
    border-top: 5px solid #5f89ba;
}

/*Section présentation*/

#bloc-code{
    font-family: Consolas, serif;
    color: #87adbb;
    white-space: pre-wrap;
    word-wrap: break-word;

    .orange{
        color: #b47453;
    }
    .bleu{
        color: #4687cf;
    }
    .vert{
        color: #56955b;
    }
    .violet{
        color: #b057b0;
    }
}

#presentation {
    @media (min-width: 768px) {
        &::before{
            content: "Alexandre Meunier";
            position: absolute;
            text-align: center;
            background-color: #0a0833;
            padding: 0 25px;
            transform: translateX(-50%);
            left: 50%;
            top: -40px;
            font-size: 50px;
            color: #3dbcd7;
        }
    }
}

#cv{
    padding-right: 200px;
}

/*#prenom-presentation{
    position: absolute;
    background-color: aliceblue;
    margin: 0;
    padding: 15px;
    bottom: 265px;
}*/

#bloc-text-presentation{/*#section-text-presentation*/
    display: flex;
    justify-content: center;
}

.apparition{
    opacity: 0;
    transition: opacity 1s ease-in-out;
    animation: apparaitre 1s forwards;
}

#text-presentation{/*fusion #sous-section-text-presentation et #text-presentation*/
    display: flex;

}

#text-presentation-column{/*#sous-text-presentation*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px 25px;
    p{
        margin-bottom: 0px;
    }


}

/* Pour : <a href="https://www.aikku.eu/"><img src="documents/images/parcours/aikku_logo.png" class="logo-inline"></a> */
.logo-inline{
    height: 1.3em; /* adapte la hauteur au texte environnant */
    object-fit: contain; /* garantit un redimensionnement propre */
    display: inline-block; /* pour mieux contrôler le comportement inline */
}

.logo{
    text-decoration: none;
    color: inherit;
    &:hover{
        color: #46B1E1;
    }
}

#centre-interest{
    text-align: center;
}

.nbCode{
}

#img{
    padding:20px;
}

#photo-presentation{
    height: 300px;
    width: 500px;
}

/*Section parcours*/

#bloc-parcours{
    display: flex;
    flex-direction: column;
}

.parcours{/*fusion .bloc-parcours et .text-parcours*/
    display: flex;
    text-align: left;
    align-items: center;
    flex-direction: column;
}

.projet{
    border: 3px solid #30333c;
    background-color: #12121370;
    border-radius: 10px;
    display: flex;
    text-align: left;
    flex-direction: column;
    overflow: hidden;
    transition: border-color 0.5s, background-color 0.5s ease-in-out;
    /*width: 100%; /* Assure une largeur cohérente */
    /*max-width: 25em; /* Ajuste selon la mise en page */
    /*height: 19em; /* Définit une hauteur fixe */
    .img-project{
        width: 100%;
        height: 200px; /* Taille fixe pour toutes les images */
        object-fit: cover; /* Coupe et ajuste l'image pour remplir l'espace */
    }
    &.redirect:hover{
        border: solid #484646;
        cursor: pointer;
        background-color: rgba(29, 29, 34, 0.44);
    }
}

.competences-projet{
    display: flex;
    justify-content: flex-start;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 10px;
    padding-bottom: 20px;
    padding-right: 10px;
    gap: 15px;
    .competences-spe{
        display: flex;
        gap: 10px;
        flex-wrap: wrap;
        p{
            font-size: 17px;
            padding: 5px;
            background-color: #2e4e5c;
            color: #f0f0f0;
            white-space: nowrap;
        }
    }
}

.img-competence{
    height: 30px;
    width: 30px;
}

.carte{/*était avec bloc-parcours après fusion*/
    border: 3px solid #30333c;
    background-color: #12121370;
    border-radius: 10px;
    padding: 20px;
}

.text-parc{
    display: flex;
    align-items: center;
    .img-parcours{
        width: 50%;
        overflow: hidden;
        margin: 10px 15px 0 0;
        &.left{
            float: left;
        }
        &.right{
            float: right;
        }
        img {
            width: 100%;
        }
    }
}

.bar-titre-carte{/*anciennement .bar-parcours*/
    width: 80%;
    margin-bottom: 10px;
}

.titre-bloc{/*anciennement .titre-parcours*/
    text-align: center;
}

/*Section compétence*/

#bloc-competences{
    display: flex;
    justify-content: center;
    width: 60%;
}

.carte-competence{/*anciennement .competence-carte*/
    display: flex;
    align-items: center;
    border: 2px solid #30333c;
    background-color: #12121370;
    margin: 10px;
    padding: 20px 15px;
    transition: 1s all;
    border-radius: 10px;
    gap: 10px;
    & p{
        margin: 0;
    }

    & img {
        width: 50px;
        height: 50px;
    }
    &:hover{
        background-color: #182639;
    }
}

.bar-vertical{
    width: 5px;
    background-color: white;
    margin: 0 5px;
}


/* #section-projet */

#list-projects{
    display: flex;
    justify-content: center;
}

.ligne-projet{/*anciennement .liste-projet*/
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 90%;
    gap: 15px;
}

/*.text-projet devient .carte*/

.infos-parcours{
    text-align: left;
}

.lien{
    color: #8cc9e0;
    text-decoration: none;
    &:hover{
        color: #3DB2DE;
        text-decoration: underline
    }
}

.lien-centre{
    display: flex;
    justify-content: center;
}

.column{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

/*footer*/

#footer{
    display: flex;
    background: linear-gradient(to bottom left, #2e2d46, #35356a);
    justify-content: center;
    position: relative;
}

#section-footer{
    display: flex;
    flex-direction: row;
    padding: 20px;
    justify-content: space-between;
    align-items: flex-end;
    gap: 40px;
}

#footer-presentation{
    img {
        margin-right: 10px;
    }
    & #titre-footer{
        display: flex;
        align-items: center;
        gap: 30px;
    }
}

#contact strong{
    font-size: 20px;
}

.coordonnees{/*anciennement .addresse*/
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

.droits{
    position: absolute;
    bottom: 10px;
    right: 10px;
    margin: 0;
}

.copier{
    color: #b5d855;
    cursor: pointer;
}

#icon-email{
    height: 15px;
}

#icon-tel{
    height: 20px;
}

#icon-add{
    height: 20px;
}

#icon-ln{
    height: 40px;
}

#icon-git{
    height: 45px;
}

#liens{
    /*display: flex;*/
    & a{

    }
}