body {
  font-family:Roboto;
  color: #3DB2DE;
  margin: 0px;

}

/*header*/

header {
  user-select: none;
  background-color: #120e62;
  position: fixed;
  width: 100%;
  border-bottom: #0a0833 solid 4px;
  z-index: 1;
  padding: 10px;
  .header-div {
    margin-left: 100px;
    display: flex;
    width: 100%;
  }
}

#ID-photo {
  border-radius: 100px;
  max-height: 100%;
  height: 90px
}

.section-div {
  display: flex;
  align-items: center;
  margin-left: 300px
}

.section {
  font-size: 20px;
  margin-left: 50px;
}

/*middle*/

#middle {
  background-color: #18128d;
  text-align: center;
  margin-bottom: 10px;
}

#reception{
  background: linear-gradient(to bottom left, #4f284f, #0a0833);
  height: 700px;
  display: flex;
  flex-direction: row;
  }

#code{
  user-select: none;
  text-align: left;
  /*Colors*/
}
#console{
  margin-right: 150px;
  text-align: left;
  background-color: #22252d;
  border: 3px solid #30333c;
  padding: 10px;
  /*visibility: hidden;*/
}

#blocImg{
  margin-left: 10px;
  display: flex;
  align-items: center;
  width: 12%;
  justify-content: center;
}

#imgCode{
  /*visibility: hidden;*/
  transform: scale(1.2);
  margin-top: 100px;
}

#ide {
  margin-right: 50px;
  width: 85%;
  height: 75%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: end;
  grid-gap: 15px;
  position: relative;
}

.side-bar{
  border-top: 5px solid #5f89ba;
}

a{
  text-decoration: none;
  color: #3DB2DE;
}

/*footer*/

footer{
  background-color: #18128d;
}