body {
  font-family: Roboto, serif;
  color: #4ea2c2;
  margin: 0;
  overflow-x: hidden;

}

/*header*/

header {
  user-select: none;
  background-color: #120e62;
  position: fixed;
  width: 100%;
  border-bottom: #0a0833 solid 4px;
  z-index: 1;
  padding-top: 5px;
}

.section-header {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 200px
}

#ID-photo {
  border-radius: 100px;
  width: 50px;
}

#section-rubrique {
  display: flex;
  gap: 25px;
}

a.rubrique{
  text-decoration: none;
  color: #3DB2DE;
  &:after{
    display: block;
    content: '';
    position: relative;
    left: 0;
    bottom: -2px;
    width: 100%;
    opacity: 0;
    height: 2px;
    background-color: #2f8caf;
  }
  &:hover:after{
    opacity: 1;
  }
  &:hover{
    color: #2f8caf;
  }
}

/*middle*/

#middle {
  background-color: #18128d;
  text-align: center;
  margin-bottom: 10px;
}

#section-code{
  user-select: none;
  text-align: left;
  background-color: #00000066;
  border: 3px solid #30333c;
  border-radius: 10px;
  padding: 10px;
  font-family: Consolas, serif;
  .orange{
    color: #c14343
  }
  .bleu{
    color: #8727b8
  }
}

#section-principal{
  background: linear-gradient(to bottom left, #4f284f, #0a0833);
  display: flex;
  justify-content: center;
  text-align: left;
  padding-top: 6%;
  padding-bottom: 3%;
}

#presentation {
  width: 85%;
  display: flex;
  flex-direction: column;
  gap: 15px;
  position: relative;
}

#section-text-presentation{
  display: flex;
  justify-content: center;
}

#sous-section-text-presentation{
  width: 80%;
}

#text-presentation{
  display: flex;
}

#sous-text-presentation{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#centre-interest{
  text-align: center;
}

.nbCode{
  color: darkgrey;
}

#img{
  padding:20px;
}

#photo-presentation{
  height: 250px;
}

.sections{
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(to bottom left, #4f284f, #0a0833);
  padding: 20px 0 20px;
  border-top: 5px solid #5f89ba;
}

.titre-section{
  padding: 10px;
  margin-bottom: 20px;
  h1{
    border-bottom: solid 2px;
  }
}

.bloc-section{
  display: flex;
  justify-content: center;
}

#section-bloc-parcours{
  width: 70%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.bloc-parcours{
  display: flex;
  align-items: center;
  justify-content: center;
}

.titre-parcours{
  text-align: center;
}

.bar-parcours{
  width: 80%;
}

.text-parcours{
  border: 3px solid #30333c;
  background-color: #00000070;
  border-radius: 10px;
  padding: 15px;
  width: 75%;
  text-align: left;
}

#bloc-competences{
  display: flex;
  flex-direction: column;
}

.liste-competence{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.competence-carte{
  display: flex;
  align-items: center;
  border: 2px solid #30333c;
  background-color: #00000070;
  margin: 10px;
  padding: 15px;
  font-size: 1.6em;
  & p{
    margin: 0;
  }
}

#section-projet{
  display: flex;
  justify-content: center;
  width: 100%;
}

.liste-projet{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  width: 80%;
  gap: 15px;
}

.text-projet{
  border: 3px solid #30333c;
  background-color: #00000070;
  border-radius: 10px;
  padding: 15px;
}

.info-parcours{
  text-align: left;
}

.bloc{
    width: 50%;
}

#section-job{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

#lien-centre{
    text-decoration: none;
}

/*footer*/

#footer{
  background-color: #18128d;
  display: flex;
  flex-direction: row;
  padding: 20px;
  border-top: 5px solid #5f89ba;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

#footer-presentation{
  & img{
    margin-right: 10px;
  }
}

.addresse{
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

#icon-email{
  height: 15px;
}

#icon-tel{
  height: 20px;
}

#icon-add{
  height: 20px;
}

#icon-ln{
  height: 40px;
}

#icon-git{
  height: 45px;
}

#liens{
  display: flex;
  flex-direction: column;
  align-items: center;
}